{% extends 'base.html' %} {% block title %} Laudos {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1 id='name' style="text-align:center">Relatório Dinâmico</h1>
    <form method="get" id='search-form'>
        <div class="row" style="margin-top: 10px; margin-bottom: 30px;">
            <div class="col-8">
                <h4>Filtros</h4>

                <div class="form-group row " style="margin-top: 20px;">
                    <div class="form-group row">
                        <div class="form-group col-3">
                            <h5>Data de Requisição</h5>
                        </div>
                        <div class="form-group col-4">
                            <input class="form-check-input" type="radio" value='requisicao' id="req" checked="true" name='tipodata' onclick="Checkradiobutton()">
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label for="dataini">
                            Data de Início
                        </label>
                        <input type="date" id="datainireq" name="datainireq" class="form-control" placeholder="Data de início" value="{{request.GET.datainireq}}">
                    </div>
                    <div class="form-group col-4">
                        <label for="datafim">
                            Data de Fim
                        </label>
                        <input type="date" id="datafimreq" name="datafimreq" class="form-control" placeholder="Data de fim" value="{{request.GET.datafimreq}}">
                    </div>
                </div>

                <div class="form-group row " style="margin-top: 10px;">

                    <div class="form-group row">
                        <div class="form-group col-3">
                            <h5>Data de Expedição</h5>
                        </div>
                        <div class="form-group col-4">
                            <input class="form-check-input" type="radio" value='expedicao' id="exp" name='tipodata' onclick="Checkradiobutton()">
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label for="dataini">
                            Data de Início
                        </label>
                        <input type="date" id="datainiexp" name="datainiexp" class="form-control" placeholder="Data de início" disabled='true' value="{{request.GET.datainiexp}}">
                    </div>
                    <div class="form-group col-4">
                        <label for="datafim">
                            Data de Fim
                        </label>
                        <input type="date" id="datafimexp" name="datafimexp" class="form-control" placeholder="Data de fim" disabled='true' value="{{request.GET.datafimexp}}">
                    </div>
                </div>

                <div class="form-group row" style="margin-top: 20px;">
                    <div class="form-group col-4">
                        <label for="cod_natureza_exame">
                            Código da Natureza
                        </label>
                        <input type="text" id="cod_natureza_exame" name="cod_natureza_exame" class="form-control" placeholder="Código da Natureza do exame" value="{{request.GET.cod_natureza_exame}}">
                    </div>
                    <div class="form-group col-4">
                        <label for="descricao_natureza">
                            Natureza de Exame
                        </label>
                        <input type="text" id="descricao_natureza" name="descricao_natureza" class="form-control" placeholder="Descrição da Natureza do exame" value="{{request.GET.descricao_natureza}}" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group col-3">
                        <label for="cod_especie_exame">Código da Espécie</label>
                        <input type="text" id="cod_especie_exame" name="cod_especie_exame" class="form-control" placeholder="Código da Espécie do exame" value="{{request.GET.cod_especie_exame}}" />
                    </div>
                    <div class="form-group col-2">
                        <label for="sigla">Classificação</label>
                        <select class="form-control js-example-basic-single" name="sigla" id="sigla">
                            <option value="">Selecione uma classificação</option>
                            <option value="DI"
                                {% if request.GET.sigla ==  'DI' %} selected
                                {% endif %}
                            >DI</option>
                            <option value="DEU"
                                {% if request.GET.sigla ==  'DEU' %} selected
                                {% endif %}
                            >DEU</option>
                            <option value="DEA"
                                {% if request.GET.sigla ==  'DEA' %} selected
                                {% endif %}
                            >DEA</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label for="descricao_especie">Espécie de Exame</label>
                        <input type="text" id="descricao_especie" name="descricao_especie" class="form-control" placeholder="Descrição da Espécie do exame" value="{{request.GET.descricao_especie}}" />
                    </div>
                </div>

                <div class="form-group col-8">
                    <label for="departamento">Departamento da Unidade Requisitante</label>
                    <input type="text" id="departamento" name="departamento" class="form-control" placeholder="Departamento da Unidade Requisitante" value="{{request.GET.departamento}}">
                </div>

                <div class="form-group col-8">
                    <label for="regional">Regional da Unidade Requisitante</label>
                    <input type="text" id="regional" name="regional" class="form-control" placeholder="Regional da Unidade Requisitante" value="{{request.GET.regional}}">
                </div>

                <div class="form-group col-8">
                    <label for="municipio">Município da Unidade Requisitante</label>
                    <input type="text" id="municipio" name="municipio" class="form-control" placeholder="Unidade Requisitante" value="{{request.GET.municipio}}">
                </div>

                <div class="form-group col-8">
                    <label for="comarca_da_unidade">Unidade de Exame</label>
                    <input type="text" id="comarca_da_unidade" name="comarca_da_unidade" class="form-control" placeholder="Unidade de Exame" value="{{request.GET.comarca_da_unidade}}">
                </div>

                <div class="form-group col-8">
                    <label for="masp">MASP do perito</label>
                    <input type="text" id="masp" name="masp" class="form-control" placeholder="MASP do Perito" value="{{request.GET.masp}}">
                </div>

                <div class="form-group col-8">
                    <label for="tipo_requisicao">Tipo da Requisição</label>
                    <select class="form-control js-example-basic-single" name="tipo_requisicao" id="tipo_requisicao">
                        <option value="">Selecione um Tipo de Requisição</option>
                        <option value="FAEP"
                            {% if request.GET.tipo_requisicao ==  'FAEP' %} selected
                            {% endif %}
                        >FAEP</option>
                        <option value="EXPEDIENTE"
                            {% if request.GET.tipo_requisicao ==  'EXPEDIENTE' %} selected
                            {% endif %}
                        >EXPEDIENTE</option>
                        <option value="COMPLEMENTAR"
                            {% if request.GET.tipo_requisicao ==  'COMPLEMENTAR' %} selected
                            {% endif %}
                        >COMPLEMENTAR</option>
                        <option value="ESCLARECIMENTO"
                            {% if request.GET.tipo_requisicao ==  'ESCLARECIMENTO' %} selected
                            {% endif %}
                        >ESCLARECIMENTO</option>
                        <option value="ESCLARECIMENTO_CDL"
                            {% if request.GET.tipo_requisicao ==  'ESCLARECIMENTO_CDL' %} selected
                            {% endif %}
                        >ESCLARECIMENTO_CDL</option>
                    </select>
                </div>        
            </div>

            <div class="col-4">
                <h4>Campos </h4>
                <p>Seleciones os Campos desejados no relatório:</p>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="nmr_requisicao" 
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "nmr_requisicao" in campos %} checked
                    {% endif %}> Nº de Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="descricao_natureza"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "descricao_natureza" in campos %} checked
                    {% endif %}> Natureza
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="ciencia"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "ciencia" in campos %} checked
                    {% endif %}> Ciência da Natureza
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="descricao_especie"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "descricao_especie" in campos %} checked
                    {% endif %}> Espécie
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="departamento"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "departamento" in campos %} checked
                    {% endif %}> Departamento da Unidade Requisitante
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="regional"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "regional" in campos %} checked
                    {% endif %}> Regional da Unidade Requisitante
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="municipio"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "municipio" in campos %} checked
                    {% endif %}> Município da Unidade Requisitante
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="comarca_da_unidade"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "comarca_da_unidade" in campos %} checked
                    {% endif %}> Unidade de Exame
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="masp"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "masp" in campos %} checked
                    {% endif %}> MASP
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="tipo_requisicao"      
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "tipo_requisicao" in campos %} checked
                    {% endif %}> Tipo da Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="nmr_procedimento"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "nmr_procedimento" in campos %} checked
                    {% endif %}> Nº de Procedimento
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="cod_modelo_laudo"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "cod_modelo_laudo" in campos %} checked
                    {% endif %}> Modelo do Laudo
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="data_requisicao_pericia"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "data_requisicao_pericia" in campos %} checked
                    {% endif %}> Data de Requisição de Perícia
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="data_distribuicao_requisicao"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "data_distribuicao_requisicao" in campos %} checked
                    {% endif %}> Data de Distribuição da Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="data_redistribuicao"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "data_redistribuicao" in campos %} checked
                    {% endif %}> Data de Redistribuição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="data_devolucao_requisicao"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "data_devolucao_requisicao" in campos %} checked
                    {% endif %}> Data de Devolução da Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="data_aceite_requisicao"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "data_devolucao_requisicao" in campos %} checked
                    {% endif %}> Data de Aceite da Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="data_expedicao_laudo"
                    {% if not request.GET %} checked 
                    {% elif "*" in campos %} checked
                    {% elif "data_expedicao_laudo" in campos %} checked
                    {% endif %}> Data de expedição do Laudo
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="campos" onclick="toggleVis(this)" value="tempo_confeccao_laudo"
                    {% if not request.GET %} checked
                    {% elif "*" in campos %} checked
                    {% elif "tempo_confeccao_laudo" in campos %} checked
                    {% endif %}> Tempo de Confecção do Laudo
                </div>
                <button type="button" class="btn btn-allert mt-4" onclick="selecionaTodosCampos(true)"><i class="bi bi-check"></i> Marcar todos</button>
                <button type="button" class="btn btn-allert mt-4" onclick="selecionaTodosCampos(false)"><i class="bi bi-x"></i> Desmarcar todos</button>
            </div>       
        </div>
        <div class="row">
            <div class="col-6">
                <a href="/ad-hoc" class="btn btn-danger mt-4">
                    <i class="bi bi-eraser-fill"></i> Limpar
                </a>
            </div>
            <div class="col-6">
                <button class="btn shadow-none float-end btn-success mt-4" id="btn_pesquisar_adhoc">
                    <i class="bi bi-search"></i> Pesquisar
                </button>
            </div>         
        </div>
        <div class="row">
            <div class="form-group row">
                <div class="form-group col-2">
                    <label for="page">Página</label>
                    <select class="form-control js-example-basic-single" style='font-weight:bold;' name="page">
                        <option style='font-weight:bold;' value="{{data.number}}">Atual: {{data.number}} </option>
                        {% for page in data.paginator.page_range %}
                            <option value="{{page}}">{{page}} </option>
                        {% endfor %}
                    </select>
                </div>             
            </div>
        </div>
    </form>

    <h5 style="text-align:center"> Total de Registros da consulta: {{data.paginator.count}}</h5>
    <div id="div_table" class="table-responsive">
        <table id='Table_Data' class="table table-striped ">
            <thead>
                <tr>
                    <th name="tnmr_requisicao" id="tcol1">Nº de Requisição</th>
                    <th name="tdescricao_natureza" id="tcol2">Natureza</th>
                    <th name="tciencia" id="tcol3">Ciência da Natureza</th>
                    <th name="tdescricao_especie" id="tcol4">Espécie</th>
                    <th name="tdescricao_especie" id="tcol4">Classificação da Espécie</th>
                    <th name="tdepartamento" id="tcol18">Departamento da Unidade Requisitante</th>
                    <th name="tregional" id="tcol19">Regional da Unidade Requisitante</th>
                    <th name="tmunicipio" id="tcol5">Município da Unidade Requisitante</th>
                    <th name="tcomarca_da_unidade" id="tcol6">Unidade de Exame</th>
                    <th name="tmasp" id="tcol7">MASP</th>
                    <th name="ttipo_requisicao" id="tcol8">Tipo da Requisição</th>
                    <th name="tnmr_procedimento" id="tcol9">Nº de Procedimento</th>
                    <th name="tcod_modelo_laudo" id="tcol10">Modelo do Laudo</th>
                    <th name="tdata_requisicao_pericia" id="tcol11">Data de Requisição de Perícia</th>
                    <th name="tdata_distribuicao_requisicao" id="tcol12">Data de Distribuição da Requisição</th>
                    <th name="tdata_redistribuicao" id="tcol13">Data de Redistribuição</th>
                    <th name="tdata_devolucao_requisicao" id="tcol14">Data de Devolução da Requisição</th>
                    <th name="tdata_aceite_requisicao" id="tcol15">Data de Aceite da Requisição</th>
                    <th name="tdata_expedicao_laudo" id="tcol16">Data de expedição do Laudo</th>
                    <th name="ttempo_confeccao_laudo" id="tcol17">Tempo de Confecção do Laudo</th>
                </tr>
            </thead>
            <tbody>
                {% for result in data %}
                <tr>
                    <td name="tnmr_requisicao" id="tcol1">{{ result.nmr_requisicao }}</td>
                    <td name="tdescricao_natureza" id="tcol2">{{ result.cod_natureza_exame}}</td>
                    <td name="tciencia" id="tcol3">{{ result.cod_natureza_exame.ciencia}}</td>
                    <td name="tdescricao_especie" id="tcol4">{{ result.cod_especie_exame}}</td>
                    <td name="tdescricao_especie" id="tcol4" style="text-align:center">{{ result.cod_especie_exame.sigla}}</td>
                    <td name="tdepartamento" id="tcol5">{{ result.cod_unidade_requisitante.geocodigo.cod_regional.cod_departamento.departamento}}</td>
                    <td name="tregional" id="tcol5">{{ result.cod_unidade_requisitante.geocodigo.cod_regional.regional}}</td>
                    <td name="tmunicipio" id="tcol5">{{ result.cod_unidade_requisitante.geocodigo.municipio}}</td>
                    <td name="tcomarca_da_unidade" id="tcol6">{{ result.cod_unidade_exame}}</td>
                    <td name="tmasp" id="tcol7">{{ result.masp_perito}}</td>
                    <td name="ttipo_requisicao" id="tcol8">{{ result.tipo_requisicao}}</td>
                    <td name="tnmr_procedimento" id="tcol9">{{ result.nmr_procedimento}}</td>
                    <td name="tcod_modelo_laudo" id="tcol10">{{ result.cod_modelo_laudo}}</td>
                    <td name="tdata_requisicao_pericia" id="tcol11">{{ result.data_requisicao_pericia|date:"d/m/Y H:i"}}</td>
                    <td name="tdata_distribuicao_requisicao" id="tcol12">{{ result.data_distribuicao_requisicao|date:"d/m/Y H:i"}}</td>
                    <td name="tdata_redistribuicao" id="tcol13">{{ result.data_redistribuicao|date:"d/m/Y H:i"}}</td>
                    <td name="tdata_devolucao_requisicao" id="tcol14">{{ result.data_devolucao_requisicao|date:"d/m/Y H:i"}}</td>
                    <td name="tdata_aceite_requisicao" id="tcol15">{{ result.data_aceite_requisicao|date:"d/m/Y H:i"}}</td>
                    <td name="tdata_expedicao_laudo" id="tcol16">{{ result.data_expedicao_laudo|date:"d/m/Y H:i"}}</td>
                    <td name="ttempo_confeccao_laudo" id="tcol17">{{ result.tempo_confeccao_laudo}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script language="javascript">
    $(document).ready(function() {
        $('#Table_Data').DataTable({
            "pageLength": 100,
            dom: 'rt<"bottom row"<"col-4" B><"info col-4" i><"col-4" p>><"clear">',
            buttons: [
                'copy', 'excel', 'pdf', 'print'
            ]
        });

        document.getElementsByName('campos').forEach((el) => {toggleVis(el)});
    });

    function toggleVis(btn) {
        cells = document.getElementsByName('t' + btn.value);
        
        for (j = 0; j < cells.length; j++){
            if(!btn.checked) cells[j].style.display = 'none';
            else cells[j].style.display = 'table-cell';
        }

        var campos_selecionados = document.querySelectorAll('input[name="campos"]:checked');

        if(campos_selecionados.length == 0){
            alert("Selecione pelo menos 1 campo!");
            document.getElementById('btn_pesquisar_adhoc').disabled = true;
        }
        else document.getElementById('btn_pesquisar_adhoc').disabled = false;
    }

    function selecionaTodosCampos(selecionar) {
        document.getElementsByName('campos').forEach((el) => {
            el.checked = selecionar;
            toggleVis(el);
        });
    }

    function Checkradiobutton() {
        if (document.getElementById('req').checked) {
            document.getElementById('datainireq').disabled = false;
            document.getElementById('datafimreq').disabled = false;
            document.getElementById('datainiexp').disabled = true;
            document.getElementById('datafimexp').disabled = true;
        } else {
            document.getElementById('datainireq').disabled = true;
            document.getElementById('datafimreq').disabled = true;
            document.getElementById('datainiexp').disabled = false;
            document.getElementById('datafimexp').disabled = false;
        }
    }
</script>
{% endblock %}